<h4>Utilizar jquery dentro de Angular</h4>

<button id="buttonjq">Mostrar texto</button>

<p id="textjq" class="hidden alert alert-warning">
	Add our optional JavaScript plugins, jQuery, and Popper.js) near the end of your pages, right before the closing. Be sure to place jQuery and Popper.js first, as our JavaScript plugins depend on them. While we use jQuery’s slim build in our docs, the full version is also supported
</p>

<hr/>
Padre:
<h1>{{titulo}}</h1>
	<ul>
		<li>Camiseta rosa</li>
		<li>Gorra Negra</li>
		<li>Otra Cosa</li>
	</ul>

<hr/>

<p>
Nombre del parque:
<input type="text" [(ngModel)]="nombreDelParque" (keyup)="mostrarNombre()" />
</p>

<br/>

<p>
Resultado: {{nombreDelParque}}
</p>

<hr/>

<div>
	<h4>Datos de mi hijo hacia el padre</h4>
	<ol *ngIf="myPark">
		<li>{{myPark.name}}</li>
		<li>{{myPark.metrics}}</li>
		<li>{{myPark.veggies}}</li>
		<li>{{myPark.open}}</li>
	</ol>
</div>
<hr/>

<p *ngIf="nombreDelParque">
Hijo:
<app-parks [name]="nombreDelParque" [metros_cuadrados]="158" (passTheData)="seeDataPark($event)"></app-parks>
</p>