<div class="col-lg-8 col-lg-offset-2">

	<div class="jumbotron">

  		<h1>{{title}}</h1>
  		
  		<p>
  			Disfruta de los animales mas exoticos de nuestro zoologico
  		</p>
  		
  		<p>
  			
  			<a class="btn btn-primary btn-lg" role="button" [routerLink]="['/animal']"> 
  				Ver Animales
  			</a>
  			
  			<a class="btn btn-success btn-lg" role="button" [routerLink]="['/keeper']"> 
  				Ver Cuidadores
  			</a>
  			
  			<a class="btn btn-warning btn-lg" role="button" [routerLink]="['/contact']"> 
  				Contacta con nosotros
  			</a>
  		</p>
  	
  	</div>

 </div>

